<!DOCTYPE html>
<html>
<head>
  <title>Poise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="head_nav"><%= react_component 'NavbarInstance', {user_signed_in: user_signed_in?, user: current_user} %></div>
  <div class="container">
    <div class="content">
    	<div id="flash_messages"></div>
      <%= yield %>
    </div>
  </div>
  <footer class="footer text-center">
	<div class="container">
		<p class="text-muted small">
			<span class="glyphicon glyphicon-copyright-mark"></span> &nbsp;All Rights Reserved 2016
		</p>
	</div>
  </footer>
</body>
</html>
